body {
	font-family: arial, sans-serif;
	margin: 0;
	background-color: #F5EFDF;
}
p {
	color: grey;
	font-size: 18px;
}
p a {
	color: inherit;
}
img {
	border-radius: 5px;
}
#nikhil-image {
	padding-top: 5vh;
	flex: 40%;
	display: flex;
	justify-content: flex-end;
}
#n-image{
	height: 100%%;
}
.nikhilimage {

	/* background-color: blue; */
}
.name-column {
	flex-wrap: wrap;
	/* background-color: #c27a7a; */
	flex: 60%; 
}
.row {
  display: flex;
	/* flex-wrap: wrap; */
}
.fold {
	height: 100vh;
	/* overflow: hidden; */
}
#name {
	font-size: 130px;
	color: #000000;
	font-weight: 700;
	/*font-family: "Inter", -apple-system, BlinkMacSystemFont, "Helvetica Neue", Helvetica, sans-serif;*/
	font-family: Helvetica, sans-serif;
	line-height: 150px;
}
#above-fold {

}
.project-image {
	border-radius: 5px;
}
.project-name {
	display: flex;
	align-items: flex-end;
	column-gap: 10px;
}
.project-name a {
	color: #000000;
	margin-bottom: 3px;
}
#top-spacer {
	margin-bottom: -40px;
	height: 40px;
	border: 3px dashed rgba(3, 3, 3, .05);
}
#main-content{
	padding-top: 60px;
	border-left: 3px dashed rgba(3, 3, 3, .05);
	padding-left: 40px;
	border-right: 3px dashed rgba(3, 3, 3, .05);
	padding-right: 40px;
}
#desc {
	font-size: 40px;
	color: #000000;
	font-weight: 700;
	font-family: "Inter var", -apple-system, BlinkMacSystemFont, "Helvetica Neue", Helvetica, sans-serif;
	line-height: 40px;
	margin-top: -80px;
	margin-left: 8px;
}
#links{
	display: flex;
	font-family: "Inter var", -apple-system, BlinkMacSystemFont, "Helvetica Neue", Helvetica, sans-serif;
	margin-left: 8px;
	justify-content: space-between;
	width: 250px
}
.mini-project-title {
	color: black;
}
.info-bar {
	padding-top: 8px;
	/* white-space:nowrap; */
}
.info-bar p {
	font-size: 14px;
	color: grey;
}
.info-bar, .project-description {
	padding-left: 40px;
}
#main-content {
	width: 800px;
	margin: 0px auto;
	display: flex;
	flex-direction: column;
	justify-content: center;
}
h2 {
	color: black;
	margin: 0px
}

.left {
  width: 25%;
}

.right {
  width: 70%;
}
.project {
	padding-bottom: 40px;
}